In [1]:
# import libaries 
import pandas as pd

### Load in the data

In [2]:
df = pd.read_csv('owid-covid-data.csv')

In [3]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [4]:
df.shape

(100676, 60)

Lets check the datatypes of each column.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100676 entries, 0 to 100675
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   iso_code                               100676 non-null  object
 1   continent                              95962 non-null   object
 2   location                               100676 non-null  object
 3   date                                   100676 non-null  object
 4   total_cases                            96986 non-null   float64
 5   new_cases                              96983 non-null   float64
 6   new_cases_smoothed                     95973 non-null   float64
 7   total_deaths                           86819 non-null   float64
 8   new_deaths                             86975 non-null   float64
 9   new_deaths_smoothed                    95973 non-null   float64
 10  total_cases_per_million                96470 non-null   float64
 11  new_cases_per_million                  96467 non-null   float64
 12  new_cases_smoothed_per_million         95462 non-null   float64
 13  total_deaths_per_million               86316 non-null   float64
 14  new_deaths_per_million                 86472 non-null   float64
 15  new_deaths_smoothed_per_million        95462 non-null   float64
 16  reproduction_rate                      81117 non-null   float64
 17  icu_patients                           10113 non-null   float64
 18  icu_patients_per_million               10113 non-null   float64
 19  hosp_patients                          12563 non-null   float64
 20  hosp_patients_per_million              12563 non-null   float64
 21  weekly_icu_admissions                  884 non-null     float64
 22  weekly_icu_admissions_per_million      884 non-null     float64
 23  weekly_hosp_admissions                 1569 non-null    float64
 24  weekly_hosp_admissions_per_million     1569 non-null    float64
 25  new_tests                              45128 non-null   float64
 26  total_tests                            44805 non-null   float64
 27  total_tests_per_thousand               44805 non-null   float64
 28  new_tests_per_thousand                 45128 non-null   float64
 29  new_tests_smoothed                     52510 non-null   float64
 30  new_tests_smoothed_per_thousand        52510 non-null   float64
 31  positive_rate                          49044 non-null   float64
 32  tests_per_case                         48446 non-null   float64
 33  tests_units                            54181 non-null   object
 34  total_vaccinations                     17171 non-null   float64
 35  people_vaccinated                      16339 non-null   float64
 36  people_fully_vaccinated                13500 non-null   float64
 37  new_vaccinations                       14302 non-null   float64
 38  new_vaccinations_smoothed              29924 non-null   float64
 39  total_vaccinations_per_hundred         17171 non-null   float64
 40  people_vaccinated_per_hundred          16339 non-null   float64
 41  people_fully_vaccinated_per_hundred    13500 non-null   float64
 42  new_vaccinations_smoothed_per_million  29924 non-null   float64
 43  stringency_index                       84557 non-null   float64
 44  population                             100026 non-null  float64
 45  population_density                     93531 non-null   float64
 46  median_age                             89918 non-null   float64
 47  aged_65_older                          88908 non-null   float64
 48  aged_70_older                          89421 non-null   float64
 49  gdp_per_capita                         90272 non-null   float64
 50  extreme_poverty                        60913 non-null   float64
 51  cardiovasc_death_rate                  90287 non-null   float64
 52  diabetes_prevalence                    92629 non-null   float64
 53  female_smokers                         70605 non-null   float64
 54  male_smokers                           69574 non-null   float64
 55  handwashing_facilities                 45373 non-null   float64
 56  hospital_beds_per_thousand             82233 non-null   float64
 57  life_expectancy                        95603 non-null   float64
 58  human_development_index                90425 non-null   float64
 59  excess_mortality                       3503 non-null    float64
dtypes: float64(55), object(5)
memory usage: 46.1+ MB

I will convert `date` into a datetime data type.

In [6]:
df['date'] = pd.to_datetime(df['date'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100676 entries, 0 to 100675
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   iso_code                               100676 non-null  object
 1   continent                              95962 non-null   object
 2   location                               100676 non-null  object
 3   date                                   100676 non-null  datetime64[ns]
 4   total_cases                            96986 non-null   float64
 5   new_cases                              96983 non-null   float64
 6   new_cases_smoothed                     95973 non-null   float64
 7   total_deaths                           86819 non-null   float64
 8   new_deaths                             86975 non-null   float64
 9   new_deaths_smoothed                    95973 non-null   float64
 10  total_cases_per_million                96470 non-null   float64
 11  new_cases_per_million                  96467 non-null   float64
 12  new_cases_smoothed_per_million         95462 non-null   float64
 13  total_deaths_per_million               86316 non-null   float64
 14  new_deaths_per_million                 86472 non-null   float64
 15  new_deaths_smoothed_per_million        95462 non-null   float64
 16  reproduction_rate                      81117 non-null   float64
 17  icu_patients                           10113 non-null   float64
 18  icu_patients_per_million               10113 non-null   float64
 19  hosp_patients                          12563 non-null   float64
 20  hosp_patients_per_million              12563 non-null   float64
 21  weekly_icu_admissions                  884 non-null     float64
 22  weekly_icu_admissions_per_million      884 non-null     float64
 23  weekly_hosp_admissions                 1569 non-null    float64
 24  weekly_hosp_admissions_per_million     1569 non-null    float64
 25  new_tests                              45128 non-null   float64
 26  total_tests                            44805 non-null   float64
 27  total_tests_per_thousand               44805 non-null   float64
 28  new_tests_per_thousand                 45128 non-null   float64
 29  new_tests_smoothed                     52510 non-null   float64
 30  new_tests_smoothed_per_thousand        52510 non-null   float64
 31  positive_rate                          49044 non-null   float64
 32  tests_per_case                         48446 non-null   float64
 33  tests_units                            54181 non-null   object
 34  total_vaccinations                     17171 non-null   float64
 35  people_vaccinated                      16339 non-null   float64
 36  people_fully_vaccinated                13500 non-null   float64
 37  new_vaccinations                       14302 non-null   float64
 38  new_vaccinations_smoothed              29924 non-null   float64
 39  total_vaccinations_per_hundred         17171 non-null   float64
 40  people_vaccinated_per_hundred          16339 non-null   float64
 41  people_fully_vaccinated_per_hundred    13500 non-null   float64
 42  new_vaccinations_smoothed_per_million  29924 non-null   float64
 43  stringency_index                       84557 non-null   float64
 44  population                             100026 non-null  float64
 45  population_density                     93531 non-null   float64
 46  median_age                             89918 non-null   float64
 47  aged_65_older                          88908 non-null   float64
 48  aged_70_older                          89421 non-null   float64
 49  gdp_per_capita                         90272 non-null   float64
 50  extreme_poverty                        60913 non-null   float64
 51  cardiovasc_death_rate                  90287 non-null   float64
 52  diabetes_prevalence                    92629 non-null   float64
 53  female_smokers                         70605 non-null   float64
 54  male_smokers                           69574 non-null   float64
 55  handwashing_facilities                 45373 non-null   float64
 56  hospital_beds_per_thousand             82233 non-null   float64
 57  life_expectancy                        95603 non-null   float64
 58  human_development_index                90425 non-null   float64
 59  excess_mortality                       3503 non-null    float64
dtypes: datetime64[ns](1), float64(55), object(4)
memory usage: 46.1+ MB

I am creating a new dataframe to be used for my Tableau Dashboard. I will need the `continent`, `location`, `date`, `new_cases`, and `new_deaths`.

In [8]:
#df = df[['continent', 'location', 'date', 'new_cases', 'new_deaths']]

In [9]:
#df.head()

### Check for missing values

In [10]:
# Check for missing values

In [11]:
print('Percentage of missing values per column')
df.isnull().sum() / len(df)

Percentage of missing values per column

iso_code                                 0.000000
continent                                0.046823
location                                 0.000000
date                                     0.000000
total_cases                              0.036652
new_cases                                0.036682
new_cases_smoothed                       0.046714
total_deaths                             0.137640
new_deaths                               0.136090
new_deaths_smoothed                      0.046714
total_cases_per_million                  0.041778
new_cases_per_million                    0.041807
new_cases_smoothed_per_million           0.051790
total_deaths_per_million                 0.142636
new_deaths_per_million                   0.141086
new_deaths_smoothed_per_million          0.051790
reproduction_rate                        0.194277
icu_patients                             0.899549
icu_patients_per_million                 0.899549
hosp_patients                            0.875214
hosp_patients_per_million                0.875214
weekly_icu_admissions                    0.991219
weekly_icu_admissions_per_million        0.991219
weekly_hosp_admissions                   0.984415
weekly_hosp_admissions_per_million       0.984415
new_tests                                0.551750
total_tests                              0.554958
total_tests_per_thousand                 0.554958
new_tests_per_thousand                   0.551750
new_tests_smoothed                       0.478426
new_tests_smoothed_per_thousand          0.478426
positive_rate                            0.512853
tests_per_case                           0.518793
tests_units                              0.461828
total_vaccinations                       0.829443
people_vaccinated                        0.837707
people_fully_vaccinated                  0.865906
new_vaccinations                         0.857940
new_vaccinations_smoothed                0.702769
total_vaccinations_per_hundred           0.829443
people_vaccinated_per_hundred            0.837707
people_fully_vaccinated_per_hundred      0.865906
new_vaccinations_smoothed_per_million    0.702769
stringency_index                         0.160108
population                               0.006456
population_density                       0.070970
median_age                               0.106858
aged_65_older                            0.116890
aged_70_older                            0.111794
gdp_per_capita                           0.103341
extreme_poverty                          0.394960
cardiovasc_death_rate                    0.103192
diabetes_prevalence                      0.079930
female_smokers                           0.298691
male_smokers                             0.308932
handwashing_facilities                   0.549317
hospital_beds_per_thousand               0.183192
life_expectancy                          0.050389
human_development_index                  0.101822
excess_mortality                         0.965205
dtype: float64

Let's find all the rows with missing values in `new_cases`

In [12]:
null_data = df[df['new_cases'].isnull()]
null_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
1009,ALB,Europe,Albania,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,NaN
1010,ALB,Europe,Albania,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,NaN
1011,ALB,Europe,Albania,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,NaN
1012,ALB,Europe,Albania,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,NaN
1013,ALB,Europe,Albania,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795,2.17

I will replace all `NaN` values with 0.

In [13]:
df['new_cases'] = df['new_cases'].fillna(0)

There is no more missing values for `new_cases`.

In [14]:
null_data = df[df['new_cases'].isnull()]
null_data.head()

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index, excess_mortality]
Index: []

[0 rows x 60 columns]

Let's find all the rows with missing values in `new_deaths`

In [15]:
null_data = df[df['new_deaths'].isnull()]
null_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

I will replace all `NaN` values with 0.

In [16]:
df['new_deaths'] = df['new_deaths'].fillna(0)

In [17]:
print('Percentage of missing values per column')
df.isnull().sum() / len(df)

Percentage of missing values per column

iso_code                                 0.000000
continent                                0.046823
location                                 0.000000
date                                     0.000000
total_cases                              0.036652
new_cases                                0.000000
new_cases_smoothed                       0.046714
total_deaths                             0.137640
new_deaths                               0.000000
new_deaths_smoothed                      0.046714
total_cases_per_million                  0.041778
new_cases_per_million                    0.041807
new_cases_smoothed_per_million           0.051790
total_deaths_per_million                 0.142636
new_deaths_per_million                   0.141086
new_deaths_smoothed_per_million          0.051790
reproduction_rate                        0.194277
icu_patients                             0.899549
icu_patients_per_million                 0.899549
hosp_patients                            0.875214
hosp_patients_per_million                0.875214
weekly_icu_admissions                    0.991219
weekly_icu_admissions_per_million        0.991219
weekly_hosp_admissions                   0.984415
weekly_hosp_admissions_per_million       0.984415
new_tests                                0.551750
total_tests                              0.554958
total_tests_per_thousand                 0.554958
new_tests_per_thousand                   0.551750
new_tests_smoothed                       0.478426
new_tests_smoothed_per_thousand          0.478426
positive_rate                            0.512853
tests_per_case                           0.518793
tests_units                              0.461828
total_vaccinations                       0.829443
people_vaccinated                        0.837707
people_fully_vaccinated                  0.865906
new_vaccinations                         0.857940
new_vaccinations_smoothed                0.702769
total_vaccinations_per_hundred           0.829443
people_vaccinated_per_hundred            0.837707
people_fully_vaccinated_per_hundred      0.865906
new_vaccinations_smoothed_per_million    0.702769
stringency_index                         0.160108
population                               0.006456
population_density                       0.070970
median_age                               0.106858
aged_65_older                            0.116890
aged_70_older                            0.111794
gdp_per_capita                           0.103341
extreme_poverty                          0.394960
cardiovasc_death_rate                    0.103192
diabetes_prevalence                      0.079930
female_smokers                           0.298691
male_smokers                             0.308932
handwashing_facilities                   0.549317
hospital_beds_per_thousand               0.183192
life_expectancy                          0.050389
human_development_index                  0.101822
excess_mortality                         0.965205
dtype: float64

In [18]:
#null_data = df[df['continent'].isnull()]
#null_data.head()

We can see that continent contains `NaN` when location is a continent. Therefore, I will replace the `NaN` will the location value.

In [19]:
#df['continent'].fillna(df['location'], inplace=True)

We have managed to deal with all the missing values.

In [20]:
print('Percentage of missing values per column')
df.isnull().sum() / len(df)

Percentage of missing values per column

continent     0.046823
location      0.000000
date          0.000000
new_cases     0.000000
new_deaths    0.000000
dtype: float64

In [18]:
df.shape

(100676, 60)

I will convert the `df` into a csv file.

In [20]:
df.to_csv('cleaned_owid_covid_data.csv', header=True, index=False)